<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="kgaut_tools">
            <directory>tests/src/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">kgaut_tools_paragraphs/src</directory>
            <directory suffix=".php">kgaut_tools_formatters/src</directory>
        </include>
    </source>
</phpunit>
